.item-spinner::before
    content: ''
    box-sizing: border-box
    position: absolute
    top: 50%
    left: 50%
    width: 20px
    height: 20px
    border-radius: 50%
    border-top: 4px solid #222fe6
    border-right: 4px solid transparent
    animation: spinnerRotate 600ms linear infinite
    border-left: 4px solid #222fe6
@keyframes spinnerRotate
    to
        transform: rotate(360deg)
.text-field
    box-shadow: 4px 4px 25px 5px rgb(34 47 230 / 10%)
    -webkit-box-shadow: 4px 4px 25px 5px rgb(34 47 230 / 10%)
    -moz-box-shadow: 4px 4px 25px 5px rgba(34,47,230,.1)
    appearance: none
    -moz-appearance: none
    -webkit-appearance: none
    -ms-progress-appearance: none
    background: #fff
    border: none
    outline: none
    font-weight: 500
    letter-spacing: .05rem
    display: inline-block
    padding: 1.5rem 2.5rem
    border-radius: 10px